/*separar el menu de footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  /*poner los iconos blancos */
 .material-icons.md-light {
  color: rgba(255,255,255,1); 
}
/*manda a llamar a la fuente icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/icons.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .material-icons.md-48 { font-size:200px; }
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }


  * {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ddd;
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
}

.form-register{
    width: 95%;
    max-width: 500px;
    background: white;
    padding: 20px;
}

.form__tittle{
    margin-top: 0;
    font-size: 1.7em;
    text-align: center;
}

.form__label, .form__input {
    display: block;
}

.form__label{
    width: 30%;
}

.form__input{
    width: 70%; 
    padding: 10px;
    font-size: 1em;
}

.form__file{
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
}

.container--flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
