body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 300px;
}
/*adaptable para pantallas grandes*/
@media only screen and (min-width: 1367px) {
    /*adapta el eslogan*/
   .adaptable.l{
     height:64px;
     width:60%;
     float:right;
   }
 }
 /*adaptable para pantallas pequeñas*/
 @media only screen and (max-width: 600px) {
    /*adapta el eslogan*/
   .adaptable.s{
     height:35%;
     width:110%;
   }
   }