<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
  <!-- Codificación de caracteres para el documento -->
  <meta charset="utf-8">
  <!-- Título del documento -->
  <title>jellyfish - productos de calidad en un solo lugar</title>
  <!-- Optimización de la página web para dispositivos móviles -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Llamada de archivo como icono -->
  <link type="image/png" rel="icon" href="../../resources/img/icon.ico">
  <!-- Importación de archivos CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../resources/css/public.css">
</head>

<body>
  <!-- Encabezado del documento -->
  <header></header>
  <!-- Contenido principal del documento -->
  <main>
    <!--agregar el contenido aqui-->
    <div class="row">

      <div class="col s4">
        <!-- mision -->

        <h2><u>
            <div class="center">Mision</div>
          </u></h2>
        <div>
          <h5>
            <div class="center">Acercar la mayor cantidad de personas posibles a la tegnologia de ultima generacion con
              precios accesibles</div>
          </h5>
        </div>
      </div>
      <div class="col s4">
        <!--info  -->
        <h3><u>
            <div class="center">Sobre nosotros</div>
          </u></h3>
        <h6>Jellyfish Hardware es una pagina creada en 2022 por estudiantes del Instituto Tecnico Ricaldone
          Y ha sido creada para que la obtención de hardware sea fácilmente accesible Para los salvadoreños</h6>

        <h5><mark>
            <div class="center">Conozca nuestro equipo de trabajo</div>
          </mark></h5>


      </div>
      <div class="col s4">
        <!-- vision -->
        <h2><u>
            <div class="center">vision</div>
          </u></h2>
      </div>
      <h5>
        <div class="center">Traer productos tegnologicos que esten al alcanze de todos para de esa manera transformar la
          tegnologia en este pais</div>
      </h5>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../../resources/img/about/andres.jpeg" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  Andrés Mauricio Lara Borja
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../../resources/img/about/gabriel.jpeg" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  Gabriel Alessandro Inglés Estrada
                  <!--precionar alt+l-->
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../../resources/img/about/daniela.jpeg" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  Evelyn Daniela Bonifacio Hernández
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../../resources/img/about/marvin.png" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  Marvin Alexander Torres Molina
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Pie del documento -->
  <footer class="page-footer indigo darken-2"></footer>
  <!-- Importación de archivos JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="../../controllers/components.js"></script>
  <script type="text/javascript" src="../../controllers/public/account.js"></script>
  <script type="text/javascript" src="../../controllers/public/index.js"></script>
</body>

</html>